@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');



body {
    font-family: 'Roboto', sans-serif;
    background-color:#FFFFFF;
}

.navbar, #block-navbar {
    width:50%;
    margin:0 auto;
    display:flex;
    flex-direction: row;
    align-items:baseline;
    justify-content: space-between;
    font-size:14px;
    font-weight:bold;
    background-color:#FFFFFF;
    padding:0 20px 0 20px;
    box-sizing:border-box;
}

#block-navbar img {
    width:150x;
    height:74px;
}


#block-navbar ul {

    float:right;
}

#block-navbar ul li {
    list-style-type: none;
    display:inline-block;
    margin:0 10px 0 10px;
}

#block-navbar ul li a {
    text-decoration: none;
    color:#000000;
}
.article-header {
    height:300px;
}

.article-header img {
    max-width: 100%; 
    max-height: 300px;
}


.container  {
    max-width:1300px;
    margin:0 auto;
    background-color:#F5F5F5;
    padding:20px;
    box-sizing: border-box;
}


/* BLOGPOST OVERZICHT */
.container .contextual-region,  .taxonomy-container {
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin:auto 0;
    width:100%;
}



.blok {
    display:flex;
    flex-direction:row;
    justify-content: space-around;
    padding:5px;
    box-sizing: border-box;
}

.blok img {
    height:300px;
}
.blok img, .blok p {
    width:50%;
    padding:10px;
    box-sizing: border-box;
}

.artikel {
    width:70%;
    margin:0 auto;
}

hr {
    background-color:#CCCCCC;
    color:#CCCCCC;
}


.delen {
    flex-direction:column;
}

.delen div {
    flex-direction: row;
}

.delen div img {
    width: 24px;
    height: 24px;
}

.footer {
    color:#FFFFFF;
    background-color:#4A4A4A;
    max-width: 1300px;
    margin:0 auto;
    text-align: center;
    font-size:12px;

}
.footer-top {
    display:flex;
    flex-direction:row;
    align-items: center;
    justify-content: center;
    background-color:#4A4A4A;

}

.footer-top div {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin:10px;
}

.footer-top div img {
    width:96px;
    height: 96px;
}
.footer-bottom {
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color:#333333;
    height: 50px;

}

.footer-bottom img {
    width:24px;
    height: 24px;
    margin:5px;
}


.overview {
    background-color: #ffffff;
    margin: 0 auto;
    color: #363636;


  }

  .card {
    width:400px;
    flex-grow: 0;
    flex-basis: 300px;
    background-color:#FFF;
    margin:10px;
    display:flex;
    flex-direction: column;
    justify-content: flex-end;

}

.card-bg {
    width: 100%;
    height: 250px;
    background-size: cover;
    background-position: center;
  }
  
  .card-text {
    font-size:13px;
    color:#363636;
    width:100%;
    padding: 10px 10px 15px 10px;
    box-sizing: border-box;

    }

    .card-text p {
        margin-bottom:20px;
    }


  

.btn {
    border-radius: 20px;
    border: 1px solid green;
    padding:10px;
    color:green;
    text-decoration: none;
}

.btn:hover{
    background-color:green;
    transition:500ms;
    color:#fff;

}

.inleiding {
    font-weight: bold;
    font-size:13px;
    margin-bottom:20px;
}


.teaser-main-tag {
    padding:5px 15px 5px 5px;
    box-sizing: border-box;
    font-weight: bold;
    text-align:center;
    font-size:16px;
    background-color:#d74e13;
    -webkit-border-top-right-radius: 50px;
    -webkit-border-bottom-right-radius: 50px;
    -moz-border-radius-topright: 50px;
    -moz-border-radius-bottomright: 50px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    display: inline-block;
    margin-top:30px;
  }