@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400&family=Montserrat:wght@400;700&display=swap');
/*
  font-family: 'Lato', sans-serif;
  font-family: 'Montserrat', sans-serif;
*/

body {
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  margin: 0;
}

a {
  text-decoration: none;
  color: #796954;
}
img {
  max-width: 100%!important;
  height: auto!important;
}

#main-content {
  background-color: #eeeeee;
  color: #363636
}
#main-content a {
  color: #796954;
  text-decoration: underline;
}
.slicknav_menu{
  display: none;
  background: none;
  padding: 0px;
  position: absolute;
  right: 0px;
  top: 0px;
  z-index: 900;
}

.slicknav_menu>a {
  outline: none;
  background-color: #d74e13;
  margin: 0px;
  padding-top: 15px;
  padding-left: 15px;
  border-radius: 0px;
  width: 43px;
  height: 43px;
  box-sizing: border-box;
}
  .slicknav_menu .slicknav_icon {
    float: none;
  }
  .slicknav_nav,
  .navbar ul.slicknav_nav{
    background-color: #d74e13;
    color: #fff;
    padding: 10px 0px;
  }
  .slicknav_nav li,
  .navbar ul.slicknav_nav li{
    margin: 0px;
  }
  .slicknav_nav a,
  .navbar ul.slicknav_nav a{
    color: #fff;
    font-weight: normal;
  }
  .slicknav_nav a:hover,
  .navbar ul.slicknav_nav a:hover {
    background-color: #f26427;
  }
p {
  margin: 0 0 10px;
}
.container {
  max-width: 960px;
  margin: 0 auto;
  position: relative;
}
.inhoud .container {
  padding-top: 45px;
  padding-bottom: 45px;
}
.inhoud a {
  text-decoration: underline;
}
a.shoppen{
  background-color: #d74e13;
  color: #fff;
  font-size: inherit;
  border-radius: 15px;
  padding: 5px 20px 5px 35px;
  position: relative;
  display: inline-block;
}
  a.shoppen::before {
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 16px;
    height: 16px;
    left: 15px;
    background: url('../img/icoon_shopping_bag.png') no-repeat left center;
    background-size: contain;
  }
#main-content a.btn,
a.btn{
  background-color: #d74e13;
  color: #fff;
  font-size: inherit;
  border-radius: 25px;
  padding: 15px 20px;
  position: relative;
  display: inline-block;
  text-decoration: none;
  font-weight: bold;
}
#main-content a.shoppen {
  background-color: #d74e13;
  color: #fff;
  padding: 15px 20px 15px 40px;
  font-weight: bold;
  text-decoration: none;
  border-radius: 25px;
}
  #main-content a.shoppen::before {
    width: 20px;
    height: 20px;
  }
h1 {
  font-size: 36px;
  font-weight: bold;
  color: #00304b;
  margin-top: 0px;
  font-family: 'Montserrat', sans-serif;
}

h2 {
  font-size: 30px;
  font-weight: bold;
  color: #00304b;
  text-align: left;
  font-family: 'Montserrat', sans-serif;
  margin: 0px 0px 10px 0px;
}
h3 {
  font-size: 24px;
  font-weight: normal;
  line-height: 1.1;
  color: #00304b;
  font-family: 'Montserrat', sans-serif;
}
h4 {
  font-size: 18px;
  font-weight: normal;
  line-height: 1.1;
  color: #00304b;
  font-family: 'Montserrat', sans-serif;
}
h5 {
  color: #00304b;
  font-weight: 400;
  font-size: 15px;
  font-family: 'Montserrat', sans-serif;
}
h1 a, h2 a, h3 a, h4 a, h5 a {
  color: inherit!important;
}
.detailinhoud {
  line-height: 1.5;
  margin-bottom: 25px;
}
#main-content .feed-icon {
  display: none;
}
/* Forms */
#main-content form.webform-submission-form,
#main-content form.search-form{
  max-width: 600px;
  width: 50%;
  min-width: 300px;
}
#main-content .form-item {
  margin-top: 10px;
}
#main-content .form-item::after {
  content: "";
  clear: both;
  display: table;
}

#main-content .form-item input[type="text"],
#main-content .form-item input[type="password"],
#main-content .form-item input[type="url"],
#main-content .form-item input[type="tel"],
#main-content .form-item input[type="search"],
#main-content .form-item input[type="number"],
#main-content .form-item input[type="datetime"],
#main-content .form-item input[type="email"] {
  background: #fff;
  border: 1px solid #bcbcbc;
  border-radius: 4px;
  color: #00304b;
  font-family: 'Lato',sans-serif;
  font-size: 16px;
  height: 32px;
  line-height: 1.56;
  padding: 0 10px;
  vertical-align: baseline;
  width: 100%;
  box-sizing: border-box;
  width: 74.2%;
  float: left;
  max-width: 300px;
}
#main-content .form-item textarea {
  background: #fff;
  border: 1px solid #bcbcbc;
  border-radius: 4px;
  color: #00304b;
  font-family: 'Lato',sans-serif;
  font-size: 16px;
  height: auto;
  line-height: 1.56;
  margin: 0;
  padding: 10px 20px;
  vertical-align: baseline;
  width: 100%;
  box-sizing: border-box;
  resize: vertical;
  width: 74.2%;
  float: left;
}
#main-content .form-item label {
  padding: 6px 15px 0 0;
  text-align: left;
  width: 25.8%;
  max-width: 180px;
  box-sizing: border-box;
  float: left;
}
#main-content form.search-form label{
  width: 180px;
}
#main-content form.search-form input[type=search],
#main-content form.search-form input[type=text]{
  width: calc(100% - 180px);
  max-width: 100%;
  min-width: 300px;
}
#main-content .search-form input[type=submit],
.inhoud input[type=submit]{
  background-color: #d74e13;
  color: #fff;
  font-size: inherit;
  border-radius: 25px;
  padding: 10px 20px;
  position: relative;
  display: inline-block;
  text-decoration: none;
  font-weight: bold;
  border: none;
  margin-top: 10px;
  margin-left: 180px;
}
form.layout-builder-form input[type=submit]{
  margin-left: 0px;
}
.search-form .search-help-link { display: none; }

/* HEADER */
.home_slogan {
  background-color: #f8f7f6;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px 20px;
}
  .home_slogan a.shoppen{
    font-size: 13px;
  }
  .home_slogan p {
    margin: 0px;
  }
  .slogan {
    font-size: 16px;
    font-weight: 700;
    color: #333;
    padding: 5px 0px 0 35px;
    position: relative;
  }
    .slogan::before {
      background: url("../img/home-icon.png") no-repeat left center;
      background-size: contain;
      content: " ";
      position: absolute;
      width: 22px;
      height: 24px;
      display: inline-block;
      top: 0px;
      left: 0px;
    }
    .home_slogan>div {
      display: -ms-flexbox;
      display: flex;
      align-items: center;
      flex-wrap: wrap;
    }
    .home_slogan>div>div+div {
      margin-left: 35px;
    }
    #block-initiatiefvan p,
    #block-initiatiefvan-2 p{
      display: -ms-flexbox;
      display: flex;
      align-items: center;
      font-weight: bold;
    }
    #block-initiatiefvan p img,
    #block-initiatiefvan-2 p img{
      margin-left: 8px;
      max-width: 196px!important;
    }
    #block-initiatiefvan-2{
      display: none;
    }

/* pager */
#main-content nav.pager {
  text-align: center;
  margin: 0px auto;
  max-width: 960px;
  position: relative;
  padding-bottom: 75px;
}
#main-content nav.pager>ul {
  display: inline-block;
  padding-left: 0;
  margin: 20px 0;
}
#main-content nav.pager>ul li {
  display: inline;
}

#main-content nav.pager>ul a {
  border-radius: 5px !important;
  position: relative;
  float: left;
  padding: 6px 12px;
  line-height: 1.42857143;
  text-decoration: none;
  color: #d74e13;
  margin-left: -1px;
}

#main-content nav.pager>ul li:first-child > a{
  margin-left: 0;
  border-bottom-left-radius: 0px;
  border-top-left-radius: 0px;
}

#main-content nav.pager>ul li.is-active a,
#main-content nav.pager>ul li.is-active a:hover {
  z-index: 2;
  color: #fff;
  background-color: #d74e13;
  cursor: default;
}
#main-content nav.pager .pager__item--first,
#main-content nav.pager .pager__item--last{
  display: none;
}
#main-content .pager__item--previous{
  position: absolute;
  left: 0px;
}
#main-content .pager__item--next{
  position: absolute;
  right: 0px;
}
#main-content nav.pager>ul .pager__item--previous a,
#main-content nav.pager>ul .pager__item--next a {
  color: #fff;
  background-color: #d74e13;
}
.flexbox.col-sm-6b {
  margin-top: 25px;
  margin-bottom: 25px;
}
.flexbox {
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
  .flexbox.col-sm-6b>div,
  .flexbox.col-sm-6>div {
    width: 50%;
    box-sizing: border-box;
  }
  .flexbox.col-sm-6>div:nth-child(odd),
  .flexbox.col-sm-6b>div:nth-child(odd) {
    padding-right: 10px;
  }
  .flexbox.col-sm-6>div:nth-child(even),
  .flexbox.col-sm-6b>div:nth-child(even) {
    padding-left: 10px;
  }
/* Navigatie */
.navbar {
  position: relative;
}
.navbar>div{
  display: flex;
  flex-wrap: wrap;
  align-content: stretch;
  justify-content: space-between;
  border-bottom: 1px solid #f8f7f6;
}
.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 15px 0px 15px 20px;
  width: 100%;
  background: #fff;
  box-sizing: border-box;
  font-size: 15px;
}
  .navbar a {
    color: #00304b;
    font-weight: bold;
    font-size: 15px;
  }
  .navbar li {
    text-align: center;
    text-decoration: none;
    display: inline;
    margin-right: 30px;
  }

  #views-exposed-form-zoeken-blogposts-page-1,
  #views-exposed-form-zoeken-blogposts-page-1>div,
  #search-block-form,
  #search-block-form>div {
    display: flex;
    align-items: center;
    align-content: stretch;
    height: 100%;
  }
  #views-exposed-form-zoeken-blogposts-page-1 input,
  #search-block-form input {
    border: 0px solid #bbb;
    border-right: none;
    font-family: 'Lato', sans-serif;
    color: #777777;
    font-size: 12px;
    text-align: right;
    height: 100%;
    padding: 10px;
    font-size: 15px;
    outline: none;
    width: 180px;
  }
  #views-exposed-form-zoeken-blogposts-page-1 input[type="submit"],
  #search-block-form input[type="submit"] {
    -webkit-appearance: none;
    text-indent: -9999px;
    border: none;
    background: transparent url('../img/icoon_search.png') no-repeat center center;
    background-size: 25px 25px;
    width: 56px;
    background-color: #d74e13;
    color: transparent;
    height: 100%;
    cursor: pointer;
    border-radius: 0px;
    padding: 0px;
    margin: 0px;
  }
.language-switcher-language-url {
  position: relative;
}
  .language-switcher-language-url:before {
    content: "|";
    padding-right: 10px;
    display: inline-block;
    position: absolute;
    left: -15px;
    font-weight: bold;
  }
  .language-switcher-language-url ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
  }
  .language-switcher-language-url ul li {
    padding: 0px 10px;
    float: left
  }
  .language-switcher-language-url .is-active {
    display: none;
  }
  .language-switcher-language-url a {
    font-weight: bold;
  }

/*Header overzicht*/
.bgLink {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 4;
}
.sfeerbeeld {
  position: relative;
  color: #fff;
  background-position: center center;
  background-size: cover;
  z-index: 3;
  min-height: 400px;
}
  .sfeerbeeld::after {
    content: '';
    position: absolute;
    z-index: 3;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: -moz-linear-gradient(top,rgba(255,255,255,0) 0%,rgba(0,0,0,0.7) 100%);
    background: -webkit-linear-gradient(top,rgba(255,255,255,0) 0%,rgba(0,0,0,0.7) 100%);
    background: linear-gradient(to bottom,rgba(255,255,255,0) 0%,rgba(0,0,0,0.7) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00ffffff',endColorstr='#000000',GradientType=0);
  }
  .sfeerbeeld .container{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 10px;
    z-index: 5;
    width: 960px;
  }
  .sfeerbeeld .titel {
    color: #fff;
    margin: 0px 0px 10px 0px;
    position: relative;
    z-index: 10;
    font-size: 36px;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
}
#main-content .sfeerbeeld .titel a {
  color: #fff;
  text-decoration: none;
}
  .sfeerbeeld h1,
  .sfeerbeeld h2,
  .sfeerbeeld h3{
    color: #fff;
    margin: 0px 0px 10px 0px;
    position: relative;
    z-index: 10;
  }
  .sfeerbeeld h1 {
    font-size: 29px;
  }
  .sfeerbeeld a {
    color: #fff;
  }
  .inhoud .sfeerbeeld .container {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  #main-content .sfeerbeeld .tag_term a{
    color: #fff;
    border: 1px solid #fff;
    padding: 5px 10px;
    display: inline-block;
    text-decoration: none;
    border-radius: 15px;
    margin-bottom: 10px;
    font-size: 14px;
  }
  #main-content .sfeerbeeld .datum_tags{
    color: #fff;
    font-size: 14px;
  }
  #main-content .sfeerbeeld .datum_tags:after,
  #main-content .sfeerbeeld .datum_tags .tags>div:after{
    clear: both;
    content: "";
    display: table;
  }
  #main-content .sfeerbeeld .datum_tags a{
    color: #fff;
    display: inline-block;
    text-decoration: none;
    font-size: 14px;
  }
  #page .sfeerbeeld  .datum_tags .datum, #page .sfeerbeeld  .datum_tags .tags,
  #main-content .views-row:first-child .sfeerbeeld .datum_tags .datum,
  #main-content .views-row:first-child .sfeerbeeld .datum_tags .tags {
    float: left;
  }
  #main-content .sfeerbeeld .datum_tags .tags {
    width: calc(100% - 200px);
    min-width: 250px;
  }
  #page .sfeerbeeld .datum_tags .tags::before,
  #main-content .views-row:first-child .sfeerbeeld .datum_tags .tags::before {
    content: "|";
    float: left;
    padding-left: 7px;
    padding-right: 7px;
  }
  #main-content .sfeerbeeld .datum_tags .tags>div>div {
    float: left;
  }
  #main-content .sfeerbeeld .datum_tags .tags>div>div::before {
    content: "//";
    float: left;
    padding-left: 7px;
    padding-right: 7px;
  }
  #main-content .sfeerbeeld .datum_tags .tags>div>div:first-child::before {
    display: none;
  }
  .home4mostrecent .datum_tags .datum {
    background: url('/themes/slapen_collishop_theme/img/icoon_kalender_wit.png') no-repeat left top;
    background-size: auto 14px;
    padding-left: 18px;
  }
  .home4mostrecent .datum_tags .tags {
    background: url('/themes/slapen_collishop_theme/img/icoon_tag_wit.png') no-repeat left top;
    background-size: auto 14px;
    padding-left: 18px;
    margin-top: 10px;
  }
  .home4mostrecent .views-row:first-child .datum_tags .datum,
  .home4mostrecent .views-row:first-child .datum_tags .tags {
    background: none;
    padding-left: 0px;
    margin-top: 0px;
  }

.home4mostrecent {
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
}
  .home4mostrecent>div{
    flex:  1 1 33%;
    box-sizing: border-box;
    position: relative;
  }
    #page .sfeerbeeld .datum_tags, #page .sfeerbeeld .datum_tags a,
    #main-content .home4mostrecent>div .tag_term a,
    #main-content .home4mostrecent>div .sfeerbeeld .datum_tags,
    #main-content .home4mostrecent>div .sfeerbeeld .datum_tags a {
      font-size: 13px;
    }
    .home4mostrecent>div .titel{
      font-size: 22px;
    }
    .home4mostrecent>div:first-child{
      flex: 0 1 100%;
      font-size: 14px;
    }
    #page .titel,
    .home4mostrecent>div:first-child .titel{
      font-size: 36px;
    }
    #page .sfeerbeeld .tag_term a, #page .sfeerbeeld .datum_tags, #page .sfeerbeeld .datum_tags a,
    #main-content .home4mostrecent>div:first-child .tag_term a,
    #main-content .home4mostrecent>div:first-child .sfeerbeeld .datum_tags,
    #main-content .home4mostrecent>div:first-child .sfeerbeeld .datum_tags a {
      font-size: 14px;
    }
    #main-content .home4mostrecent .views-row:nth-child(2) .sfeerbeeld .container,
    #main-content .home4mostrecent .views-row:nth-child(3) .sfeerbeeld .container,
    #main-content .home4mostrecent .views-row:nth-child(4) .sfeerbeeld .container {
      left: 20px;
      transform: none;
      width: calc(100% - 45px);
  }
#block-views-block-overzichten-block-3>div {
  max-width: 960px;
  margin: 0px auto;
  padding: 25px 0px;
}
  #block-views-block-overzichten-block-3>div h2 {
    text-align: center;
  }

body.path-frontpage #block-slapen-collishop-theme-content h2{
  text-align: center;
  margin-top: 0px;
}
body.path-frontpage #block-slapen-collishop-theme-content{
  background-color: #fff;
  padding: 50px 0px;
}
.buttonlist{
  margin: 0px;
  padding: 0px;
  width: 100%;
  list-style: none;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
  .buttonlist li+li{
    margin-left: 10px;
  }
  #main-content .buttonlist li a {
    background-color: transparent;
    color: #00304b;
    border: 1px solid #00304b;
    font-size: inherit;
    border-radius: 20px;
    padding: 7px 20px;
    display: inline-block;
    text-decoration: none;
  }
/* Footer */
.footer{
  padding: 45px 10px;
  color: #796954;
}
.footer .container>div{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

  .footer h2 {
    color: #796954;
    font-weight: bold;
    font-size: 16px;
    padding-bottom: 0px;
    position: relative;
  }
  .footer ul {
    list-style-type: none;
    list-style: none;
    padding-left: 0;
    margin: 0px;
  }
  .footer li {
    margin: 14px 0 14px 0;
  }
  .footer h3 {
    color: #796954;
    font-weight: bold;
    font-size: 16px;
    padding-bottom: 0px;
    position: relative;
  }
  .footer .socials {
    display: -ms-flexbox;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 10px 0px;
  }
  .footer .socials img {
    max-width: 24px!important;
    height: auto!important;
  }
  .footer a.shoppen{
    padding: 8px 20px 8px 35px;
  }
.footer_disc {
  background-color: #00304b;
  color: #fff;
  padding: 32px 0px;
}
  .footer_disc a {
    color: #fff;
  }
  .footer_disc ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
  }
  .footer_disc ul.contextual-links{
    display: none;
  }
  .footer_disc ul li {
    margin: 0px;
    padding: 0px;
  }
  .footer_disc ul li+li {
    margin-left: 15px;
  }
  .footer_disc ul li+li:before {
    content: "|";
    padding-right: 13px;
  }

  .form-item input[type=text],
  .form-item input[type=password]{
    box-sizing: border-box;
    max-width: 100%;
  }
/* DRUPAL */
.user-login-form .form-item {
  margin: 15px 0px;
}
  .user-login-form .form-item label {
    font-weight: bold;
    min-width: 150px;
    display: inline-block;
  }
div[role=contentinfo] .info_message {
  max-width: 960px;
  margin: 0px auto;
  padding: 20px;
  background-color: #eef0f8;
}
#block-slapen-collishop-theme-local-tasks{
  max-width: 960px;
  margin: 0px auto;
  padding: 0px;
}
#block-slapen-collishop-theme-local-tasks ul {
  list-style: none;
  list-style-image: none;
  margin: 0px;
  padding: 0px;
}
#block-slapen-collishop-theme-local-tasks ul li {
  background: none;
  padding: 10px;
  display: inline-block;
}
#block-slapen-collishop-theme-local-tasks ul li a {
  box-sizing: border-box;
  display: inline-block;
  border-radius: 21px;
  text-transform: uppercase;
  line-height: 1.2;
  text-decoration: none;
  padding: 5px 20px;
  font-size: 14px;
  letter-spacing: 1px;
  font-weight: bold;
  transition-duration: 150ms;
  color: #00304b;
  background-color: #fff;
  border: 2px solid #00304b;
}
#block-slapen-collishop-theme-local-tasks ul li a.is-active {
  color: #aaa;
  border: 2px solid #aaa;
}

.related-articles {
  max-width: 960px;
  margin: 0 auto;
  /* display:flex;
  flex-direction: row;
  justify-content: space-around; */
}

.related-articles div {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;

}

.taxonomy-container {
  display:flex;
  flex-direction:row;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin:0 auto;
  max-width: 960px;
}

.article-title {
  bottom: 0;
}
#main-content .taxonomy-container a.node-clickable{
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 2;
  left: 0;
  top: 0;
}

.taxonomy-container .views-row {
  background-color:#ffffff;
  margin: 0 auto;
  color:#363636;
  flex-grow: 0;
  flex-basis: 300px;
  min-width: 250px;
  margin: 0px 10px 20px 10px;
  position: relative;
}


.card-bg {
  width: 100%;
  height: 250px;
  background-size: cover;
  background-position: center;
}

.card-text {
  font-size:13px;
  color:#363636;
  width:100%;
  padding: 10px 10px 15px 10px;
  box-sizing: border-box;
}
  .card-text h4 {
    font-weight: bold;
    margin: 10px 0px 15px 0px;
    line-height: 1.2;
    min-height: 65px;
  }
.field-datum time {
  color:#796954;
  background: url('/themes/slapen_collishop_theme/img/icoon_kalender_bruin.png') no-repeat left top;
  background-size: auto 14px;
  padding-left: 18px;
}

.field-tags {
  color:#796954;
  background: url('/themes/slapen_collishop_theme/img/icoon_tag_bruin.png') no-repeat left top;
  background-size: auto 14px;
  padding-left: 18px;
  margin-top:10px;
}

.attributes .field-tags div + div::before {
  content: "//";
  padding-left: 5px;
  padding-right: 5px;
}

.field-tags div{
  display:inline;
}

 .sfeerbeeld .field-tags div + div::before {
  content: "//";
  padding-left: 5px;
  padding-right: 5px;
  color:#FFF;
}

.sfeerbeeld .datum {
  margin-right:20px;
}

.teaser-main-tag {
  padding:5px 15px 5px 5px;
  box-sizing: border-box;
  font-weight: bold;
  text-align:center;
  font-size:16px;
  background-color:#d74e13;
  -webkit-border-top-right-radius: 50px;
  -webkit-border-bottom-right-radius: 50px;
  -moz-border-radius-topright: 50px;
  -moz-border-radius-bottomright: 50px;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  display: inline-block;
  margin-top:30px;
}

#main-content .teaser-main-tag a {
  color:#fff;
  font-family: 'Lato', sans-serif;
}

.card h4 {
  font-weight: bold;
  color:#01324B;
  text-decoration: none;
}

#main-content .taxonomy-container a {
  text-decoration: none;
  z-index: 10;
  position: relative;
}

.detailinhoud:after {
  content: "";
  display: table;
  clear: both;
}

@media (max-width: 1024px) {
  .sfeerbeeld .container{
    width: 90%;
    box-sizing: border-box;
  }
  .container {
    padding: 0px 10px;
  }
  #block-slapen-collishop-theme-local-tasks{
    padding: 0px 10px;
  }
  .sfeerbeeld .container {
    left: 20px;
    transform: none;
  }
}
@media (max-width: 950px) {
  .search-block-form {
    display: none;
  }
  .home4mostrecent>div:first-child,
  .home4mostrecent>div {
    flex: 0 1 50%;
  }
  .home4mostrecent>div:first-child .titel{
    font-size: 22px;
  }
  #main-content .home4mostrecent>div:first-child .tag_term a,
  #main-content .home4mostrecent>div:first-child .sfeerbeeld .datum_tags,
  #main-content .home4mostrecent>div:first-child .sfeerbeeld .datum_tags a {
    font-size: 12px;
  }
  #page .sfeerbeeld  .datum_tags .datum, #page .sfeerbeeld  .datum_tags .tags,
  #main-content .views-row:first-child .sfeerbeeld .datum_tags .datum, #main-content .views-row:first-child .sfeerbeeld .datum_tags .tags {
    float: none;
  }
  #page .sfeerbeeld  .datum_tags .tags::before,
  #main-content .views-row:first-child .sfeerbeeld .datum_tags .tags::before {
    display: none;
  }
  .home4mostrecent .views-row:first-child .datum_tags .datum{
    background: url(/themes/slapen_collishop_theme/img/icoon_kalender_wit.png) no-repeat left center;
    background-size: auto 100%;
    padding-left: 18px;
  }
  .home4mostrecent .views-row:first-child .datum_tags .tags {
    background: url(/themes/slapen_collishop_theme/img/icoon_tag_wit.png) no-repeat left top;
    background-size: auto 14px;
    padding-left: 18px;
    margin-top: 10px;
  }
  .taxonomy-container {
    justify-content: space-around;
  }
}
@media (max-width: 900px) {
  #main-content .sfeerbeeld .datum_tags .tags {
    width: calc(100% - 50px);
  }
  .views-exposed-form{
    display: none;
  }
  .slicknav_menu {
    display: block;
  }
  .navbar>div {
    padding-left: 10px;
  }
  #block-initiatiefvan,
  .navbar nav{
    display: none;
  }
  #block-initiatiefvan-2 {
    display: -ms-flexbox;
    display: flex;
    padding-top: 8px;
    padding-bottom: 8px;
  }
  #block-initiatiefvan-2 p {
    margin: 0px;
  }
}
@media (max-width: 800px) {
  /*Header overzicht*/
  .footer .container>div>*{
    flex: 0 1 50%;
  }
  .home4mostrecent>div:first-child, .home4mostrecent>div {
    flex: 0 1 100%;
  }
}
@media (max-width: 600px) {
  .sfeerbeeld {
    min-height: 300px;
  }
  .home4mostrecent>div .titel,
  .home4mostrecent>div:first-child .titel {
    font-size: 20px;
  }
  .home_slogan {
    padding: 10px 10px;
  }
  #block-nushoppen{
    display: none;
  }
  .footer .container>div>*{
    flex-basis: 100%;
  }
  .footer_disc ul {
    display: block;
    text-align: center;
  }
  .footer_disc ul li {
    margin: 0px;
    padding: 5px 0px;
  }
  .footer_disc ul li+li:before {
    display: none;
  }
  .footer .mobile-can-close{
    border-bottom: 1px solid #eef0f8;
  }
  .footer .mobile-can-close h2 {
    cursor: pointer;
  }
  .footer .mobile-can-close h2:after {
    background: url(../img/arrow_down.png) no-repeat right center;
    content: "";
    width: 19px;
    height: 19px;
    position: absolute;
    right: 0px;
    top: 50%;
    background-size: contain;
    transform: translateY(-50%);
  }
  .footer .mobile-can-close h2+* {
    display: none;
  }
  .footer .mobile-can-close.open h2+* {
    display: block;
  }
  .footer .mobile-can-close.open h2:after {
    transform: translateY(-50%) rotate(180deg);
  }
}
@media (max-width: 400px) {
  #main-content .pager__item--previous,
  #main-content .pager__item--next{
    position: static;
    right: 0px;
  }
  .navbar>div {
    min-height: 42px;
  }
  #block-initiatiefvan-2 p img {
    max-width: 126px!important;
  }
  .slogan {
    padding: 5px 10px 0 25px;
  }
  .home_slogan>div>div+div {
    margin-left: 10px;
  }
  .language-switcher-language-url:before {
    left: -5px;
  }
}


@media (max-width: 900px){
  .flexbox.col-sm-6b>div, .flexbox.col-sm-6>div {
    width: 100%;
    box-sizing: border-box;
  }
  .flexbox.col-sm-6>div:nth-child(even),
  .flexbox.col-sm-6b>div:nth-child(even),
  .flexbox.col-sm-6>div:nth-child(odd),
  .flexbox.col-sm-6b>div:nth-child(odd) {
    padding-right: 0px;
    padding-left: 0px;
  }
}
