@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');



body {
    font-family: 'Roboto', sans-serif;
    background-color:#FFFFFF;
}

.navbar {
    width:50%;
    margin:0 auto;
    display:flex;
    flex-direction: row;
    align-items:baseline;
    justify-content: space-between;
    font-size:14px;
    font-weight:bold;
    background-color:#FFFFFF;
    padding:0 20px 0 20px;
    box-sizing:border-box;
}

.navbar img {
    width:150x;
    height:74px;
}


.navbar ul {

    float:right;
}

.navbar ul li {
    list-style-type: none;
    display:inline-block;
    margin:0 10px 0 10px;
}

.navbar ul li a {
    text-decoration: none;
    color:#000000;
}
header {
    height:300px;
    background-image: url(img/webshop-stock-header.jpeg);
}

.container {
    width:50%;
    margin:0 auto;
    background-color:#F5F5F5;
    padding:20px;
    box-sizing: border-box;
}

.blok {
    display:flex;
    flex-direction:row;
    justify-content: space-around;
    padding:5px;
    box-sizing: border-box;
}

.blok img {
    height:300px;
}
.blok img, .blok p {
    width:50%;
    padding:10px;
    box-sizing: border-box;
}

.artikel {
    width:70%;
    margin:0 auto;
}

hr {
    background-color:#CCCCCC;
    color:#CCCCCC;
}


.delen {
    flex-direction:column;
}

.delen div {
    flex-direction: row;
}

.delen div img {
    width: 24px;
    height: 24px;
}

.footer {
    color:#FFFFFF;
    background-color:#4A4A4A;
    width:50%;
    margin:0 auto;
    text-align: center;
    font-size:12px;

}
.footer-top {
    display:flex;
    flex-direction:row;
    align-items: center;
    justify-content: center;
    background-color:#4A4A4A;

}

.footer-top div {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin:10px;
}

.footer-top div img {
    width:96px;
    height: 96px;
}
.footer-bottom {
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color:#333333;
    height: 50px;

}

.footer-bottom img {
    width:24px;
    height: 24px;
    margin:5px;
}


.overview {
    display:flex;
    flex-direction:row;
    justify-content: space-between;
    background-color:#ffffff;
    margin: 0 auto;
    color:#363636;
    flex-grow: 0;
    flex-basis: 300px;
    min-width: 250px;
    margin: 0px 10px 20px 10px;

  }

.card-bg {
    width: 100%;
    height: 250px;
    background-size: cover;
    background-position: center;
  }
  
  .card-text {
    font-size:13px;
    color:#363636;
    width:100%;
    padding: 10px 10px 15px 10px;
    box-sizing: border-box;
  }

  .card {
      width:200px;
      background-color:red;
      margin:20px;
  }