{% set image_url = file_url(content.field_header_image['#object'].field_header_image.entity.fileuri) %}


<div class="card">
<div class="card-bg" style="background-image: url('{{image_url}}')">

</div>
<div class="card-text">
 <p>{{content.field_tags.0}}</p>
  <h4>
  {{ label }}

  </h4>
 {{content.field_inleiding}} 
    <a class="btn" href="{{ url }}" rel="bookmark">Lees meer</a>

</div>

</div>