  <section id="main">

    <div class="container">


      <h1>
        {{label}}
      </h1>
      <div class="article-header">
        {{content.field_header_image}}
      </div>
      <div class="artikel">
  <div class="inleiding">{{content.field_inleiding}} </div>
        {{content.body }}
      </div>
    </div>
  </section>
  </div>

